.MyInput{
    margin: .5rem auto;
    width: max-content;
    
    input{
       border-radius: 0px;
       border:none;
       border-bottom: rgb(0, 183, 255) solid 1px;
       text-align: center;
       &.Error{
        border-bottom: red solid 1px;
       }
        
    }
    .Error{
        color: red;
        margin: 0 auto;
        width: max-content;
    }
}