.Describer {
    background:linear-gradient(to right,rgba(0, 174, 255, 0.3),rgba(0, 174, 255, 1));
    overflow-wrap: anywhere;
    display: flex;
    position: relative;
    .Content{
      padding: 2rem;
      position: relative;
      width: 100%;
      p{
        margin: 0;
      }
     
      &::before{
        content: " ";
        width: 50%;
        height: 100%;
        background: url(../../Graphics/city.jpg);
        background-size: cover;
        background-blend-mode: luminosity;
        background-attachment: fixed;
        background-position: center;
        background-color:rgba(0, 174, 255, .3);
        clip-path: polygon(100% 9%, 100% 0%, 100% 100%, 29% 100%);
        position: absolute;
        right: 0;
      } 

      .UtpLogo{
        height: 100px;
        width: 100px;
        margin: 0 1rem;
        position: absolute;
      }   
    }

    
    
  }