.Describer {
    background:linear-gradient(to right,rgba(0, 174, 255, 0.3),rgba(0, 174, 255, 1));
    overflow-wrap: anywhere;
    display: flex;
    position: relative;
    .Content{
      padding: 2rem;
      position: relative;
      width: 100%;
      z-index: 999;
      p{
        margin: 0;
        white-space: pre-wrap;
      }
     
      &::before{
        content: " ";
        width: 50%;
        height: 100%;
        background: url(../../Graphics/city.jpg);
        background-size: cover;
        background-blend-mode: luminosity;
        background-attachment:fixed;
        background-position: center;
        background-color:rgba(0, 174, 255, .3);
        clip-path: polygon(100% 9%, 100% 0%, 100% 100%, 29% 100%);
        position: absolute;
        right: 0;
        z-index: 1;
      } 

      .UtpLogo{
        height: 100px;
        width: 100px;
        margin: 0 ;
        position: relative;
        right: 2rem;
        float: right;
        top:0;
      }   
    }

    @media only screen and (max-width: 1100px) {
      .Content{
        p{
          width: 80%;
        }
      }
    }
    
    
  }