$bgColor: linear-gradient(to left,rgba(99, 209, 252, 0.521),rgba(0, 174, 255, 1));
$txColor: white;
$hbgColor: rgb(0, 150, 219);
.myNavBar {
    * {
        color: $txColor;
    }
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: normal !important;
    font-size: larger;
    background: $bgColor !important;
    .dropdown-menu {
        background: $bgColor !important;

        .dropdown-item {
            color: $txColor !important;
            &:hover {
                background: $hbgColor !important;
                .Underline {
                    width: min-content;
                }
            }
        }
    }

    .nav-link {
        color: $txColor !important;
        &:hover {
            background-color: $hbgColor !important;
            .Underline {
                width: min-content;
                white-space: nowrap;
            }
        }
    }

    .dropDown > a {
        display: flex !important;
        align-items: center !important;
    }
}
