$bgColor: black;
$txColor: white;
$hbgColor: rgb(49, 49, 49);
.myNavBar {
    * {
        color: $txColor;
    }
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: normal !important;
    font-size: larger;
    background-color: $bgColor !important;
    .dropdown-menu {
        background-color: $bgColor !important;

        .dropdown-item {
            color: $txColor !important;
            &:hover {
                background-color: $hbgColor !important;
                .Underline {
                    width: min-content;
                }
            }
        }
    }

    .nav-link {
        color: $txColor !important;
        &:hover {
            background-color: $hbgColor !important;
            .Underline {
                width: min-content;
                white-space: nowrap;
            }
        }
    }

    .dropDown > a {
        display: flex !important;
        align-items: center !important;
    }
}
