.myNavBar{
    position: sticky;
    top:0;
    z-index: 9999;
    font-family: normal !important;
    font-size: larger;

    .dropDown > a{
        display: flex !important;
        align-items: center !important;
    }
}

