@import "~bootstrap/scss/bootstrap";
.App {
  display: block;
 

  .Describer {
    background:linear-gradient(to right,rgba(0, 174, 255, 0.3),rgba(0, 174, 255, 1));
    #BG {
      height: 100%;
      width: 100%;
      background: url(./Graphics/city.jpg);
      background-size: cover;
      background-blend-mode: lighten;
      background-attachment: fixed;
      background-position: center;
      background-color:rgba(0, 174, 255, .3);
      clip-path: polygon(100% 9%, 100% 0%, 100% 100%, 29% 100%);
      position: absolute;
    }
  }
}
